<tool name="APLGit">  <version>0.19.1</version>  <date>2020-01-19</date>  <container>#.APLGit</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinSys</script>    <script>WinReg</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <lx></lx>  <buildid>141</buildid></tool>