<tool name="APLGit">  <version>0.22.4</version>  <date>2020-03-10</date>  <container>#.APLGit</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinSys</script>    <script>WinReg</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <lx></lx>  <buildid>167</buildid></tool>